# Configure your retro browser to use your modern computer's IP address and the
# port specified below. Leave IP blank for automatic selection.

# listen on this ip
IP=

# listen on this port
PORT=3000

# Remove CSS from pages.
NO_CSS=true

# Remove JavaScript from pages.
NO_JS=true

# Resize images on the page (HTML attributes only, no image transcoding).
# Recommended if NO_CSS is enabled, as many sites rely on CSS for image scaling.
SCALE_TO=608

# A list of sites to exclude from NO_CSS and NO_JS options
ALLOWLIST=allowed.txt
